[Unit]
Description=Gavin Data Hub Daemon
After=network-online.target syslog.target gavin_environment.service gavin_bms.service gavin_imu.service

[Service]
Type=simple
WorkingDirectory=/opt/gavin/bin
ExecStart=/opt/gavin/bin/gavin_data_hub.py
StandardOutput=syslog
StandardError=syslog
#User=myuser
#Group=mygroup
Restart=on-failure

[Install]
WantedBy=multi-user.target
